# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
.env
.venv
env/
venv/
ENV/


# IDE
.idea/
.vscode/
*.swp
*.swo

# Project specific
data/audio_assets.json
data/visual_assets.json
data/script_assets.json
data/content_assets.json
data/config/settings.json
data/audio/*
data/visuals/*
data/videos/*
data/images/*
!data/audio/.gitkeep
!data/visuals/.gitkeep
!data/videos/.gitkeep
!data/images/.gitkeep
data/*

# OS specific
.DS_Store
Thumbs.db 


/logs/*
cli.cpython*
/venv/*
/.venv/*